.attendance-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

.attendance-content {
  display: flex;
  flex-direction: column;
  gap: 80px;
  justify-content: center;
  align-items: center;
  padding: 40px;
  flex-grow: 1;
}

.attendance-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.header {
  font-weight: 800;
  font-size: 40px;
}

.data-process {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 100;
}

.training-icon {
  font-size: 40px;
  cursor: pointer;
}

.training-section {
  display: none;
  flex-direction: row-reverse;
  position: absolute;
  top: 60px;
  right: 0;
}

.training-section.show {
  display: flex;
}

.data-gen {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 300px;
  border: 1px solid #49557e;
  padding: 20px;
  background-color: #49557e;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.camera-access {
  display: none;
  justify-content: center;
  align-items: center;
  /* height: 300px; */
  width: 300px;
  background-color: #49557e;
  margin-right: 0.5px;
}

.camera-access.show {
  display: flex;
}

.camera-access video {
  max-height: 100%;
  width: 90%;
}

.student-input {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.student-input input,
.train-btn {
  padding: 10px;
  outline: none;
  border: 1px solid #fff;
  background-color: #fff;
  color: #49557e;
}

.training-btns {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.train-btn {
  color: #49557e;
  font-size: 16px;
  text-align: left;
  cursor: pointer;
}

.tick-icon {
  position: absolute;
  background: transparent;
  height: 30px;
}

.attendance-image #recognized-face {
  height: 30vw;
  width: 30vw;
  max-width: 200px;
  max-height: 200px;
  min-width: 120px;
  min-height: 120px;
  border-radius: 50%;
  border: 3px solid black;
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.3s ease;
}

.attendance-image #recognized-face:hover {
  transform: scale(1.2);
}

.attendance-image #recognized-face {
  width: 100%;
  height: 100%;
  border: 4px solid #49557e;
  padding: 2px;
  border-radius: 50%;
  transition: 0.2s;
}

.attendance-btn {
  padding: 20px 15vw;
  font-size: 20px;
  text-align: center;
  background-color: #49557e;
  color: #fff;
  border: none;
  cursor: pointer;
}

.data-gen img {
  width: 100%;
  max-width: 260px;
  height: auto;
  margin-top: 10px;
}

@media(max-width:450px){
.header{
  font-size: 35px;
}
}

@media(max-width:650px){
  .camera-access{
    position: absolute;
    top: 100%;
    margin: auto;
  }
}